{% extends "app/home.html" %}

{% load static %}

{% block content %}

{% for post in posts %}
<div class="post">
    <div class="info">
        <div class="author">
            <a href={% url 'user_info' username=post.author.username %}>@{{ post.author }}</a>
        </div>
        <div class="date">
            {{ post.date }}
        </div>
    </div>
    <div class="post-content">
        <div class="title">
            {{ post.title }}
        </div>
        <div class="post-body">
            {{ post.body }}
        </div>
    </div>
    <div class="votes">
        <div class="upvote" data-post-id="{{ post.id }}">
            <div class="symbol"><img src="{% static 'app/img/trianglegreen.png' %}" alt="upvote"></div>
            <div class="count">{{ post.upvotes }}</div>
        </div>
        <div class="downvote" data-post-id="{{ post.id }}">
            <div class="symbol"><img src="{% static 'app/img/trianglered.png' %}" alt="downvote"></div>
            <div class="count">{{ post.downvotes }}</div>
        </div>
    </div>
</div>
{% endfor %}

<script src="{% static 'app/js/votes.js' %}"></script>

{% endblock %}