html, body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .header {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}

.wrapper .body {
    flex-grow: 1;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .body .article {
    width: 60%;
    height: 100%;
    background-color: white;
    padding: 2rem;
}