* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
    z-index: 2;
}

.wrapper[data-theme="dark"] .header {
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.1);
}

.wrapper[data-theme="dark"] .header {
    background-color: rgb(30, 30, 30);
}

.wrapper .header .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.wrapper .header .title a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(219, 101, 22);
}

.wrapper .header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.wrapper .header .menu a {
    text-decoration: none;
    margin: 0 0 0 1rem;
}


/* posts */

.wrapper .body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    height: 100%;
    overflow-y: auto;
}

.wrapper[data-theme="dark"] .body {
    background-color: rgb(50, 50, 50);
}

.wrapper .body .article {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: white;
}

.wrapper[data-theme="dark"] .body .article {
    background-color: rgb(30, 30, 30);
}

@media only screen and (min-width: 1080px) {
    .wrapper .body .article {
        width: 60%;
    }
}

.wrapper .body .article .info {
    display: flex;
    align-items: center;
    font-weight: 900;
    color: white;
    overflow: hidden;
    align-items: stretch;
}

.wrapper .body .article .info .author {
    background-color: rgb(219, 101, 22);
    padding: 1rem;
    border-radius: 1.5rem 0 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .body .article .info .author a {
    color: white;
    text-decoration: none;
}

.wrapper .body .article .info .date {
    background-color: rgb(219, 45, 22);
    padding: 1rem;
    border-radius: 0 1.5rem 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.wrapper .body .article .post {
    margin-bottom: 1rem;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
}

.wrapper[data-theme="dark"] .body .article .post {
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.1);
}

.wrapper[data-theme="dark"] .body .article {
    color: rgb(220, 220, 220);
}

.wrapper .body .article .post .title {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.wrapper .body .article .post .post-content {
    width: 100%;
    padding: 1rem;   
}

.wrapper .body .article  .votes, .wrapper .body .article .post .downvote, .wrapper .body .article .post .upvote {
    display: flex;
    user-select: none;
}

.wrapper .body .article  .votes .upvote, .wrapper .body .article .post .votes .downvote {
    justify-content: center;
    align-items: center;
}

.wrapper .body .article  .votes .upvote {
    margin-right: 1rem;
}

.wrapper .body .article  .votes {
    font-weight: 800;
    padding: 1rem;
}

.wrapper .body .article .votes img {
    width: 1.5rem;
    height: 1.5rem;
}

.wrapper .body .article  .votes .upvote img {
    transform: scaleY(-1);
}

.wrapper .body .article .votes .upvote, .wrapper .body .article .votes .downvote {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* user pages */

.wrapper .body .article .user-info-wrapper {
    margin-bottom: 1rem;
}

.wrapper .body .article .user-info-wrapper .info .author {
    background-color: rgb(28, 196, 168);
}

.wrapper .body .article .user-info-wrapper .info .date {
    background-color: rgb(26, 158, 85);
}


/* post creator */

.wrapper .body .article .create-post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.wrapper .body .article .create-post #title {
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

.wrapper .body .article .create-post #body {
    resize: none;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    font-family: default;
}

.wrapper .body .article .create-post input {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
}

.wrapper[data-theme="dark"] .body .article .create-post input {
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.1);
}

.wrapper .body .article .create-post input[type=submit] {
    box-shadow: none;
}

.wrapper .body .article .create-post input:focus {
    outline: none;
    border: 0;
    box-shadow: 0px 0px 0px 2px rgb(219, 101, 22);
}

.wrapper .body .article .create-post textarea {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
}

.wrapper[data-theme="dark"] .body .article .create-post textarea {
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.1);
}

.wrapper .body .article .create-post textarea:focus {
    outline: none;
    border: 0;
    box-shadow: 0px 0px 0px 2px rgb(219, 101, 22);
}

.wrapper .body .article .create-post .btn {
    background-color: rgb(219, 101, 22);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
    transition: 300ms ease-in-out;
}

.wrapper[data-theme="dark"] .body .article .create-post .btn {
    background-color: rgb(219, 101, 22);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
    transition: 300ms ease-in-out;
}

.wrapper .body .article .create-post .btn:hover {
    filter: brightness(120%);
}

/* login */

.wrapper {
    height: 100%;
}

.wrapper .login-wrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .login-wrapper a {
    color: rgb(219, 101, 22);
    font-weight: 900;
}

.wrapper .login-wrapper .login-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .login-wrapper .login-panel .left {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(219, 101, 22);
    margin-bottom: 2rem;
}

.wrapper .login-wrapper .login-panel form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .login-wrapper .login-panel .field {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.wrapper .login-wrapper .login-panel .field label {
    margin-right: 1rem;
}

.wrapper .login-wrapper .login-panel .field input {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    padding: 0.5rem;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
}

.wrapper .login-wrapper .login-panel .field input[type=submit] {
    box-shadow: none;
}

.wrapper .login-wrapper .login-panel .field input:focus {
    outline: none;
    border: 0;
    box-shadow: 0px 0px 0px 2px rgb(219, 101, 22);
}

.wrapper .login-wrapper .login-panel .field .btn {
    background-color: rgb(219, 101, 22);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
    transition: 300ms ease-in-out;   
}

.wrapper .login-wrapper .login-panel .field .btn:hover {
    filter: brightness(120%);
}

/* comments */

.wrapper .body .article .comment {
    border-radius: 1.5rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.wrapper[data-theme="dark"] .body .article .comment {
    background-color: rgb(50, 50, 50);
}

.wrapper .body .article .comment .commenter-info {
    display: flex;
    padding: 1rem;
    font-weight: 900;
}

.wrapper .body .article .comment .commenter-info .username a {
    color: black !important;
    text-decoration: none !important;
}

.wrapper[data-theme="dark"] .body .article .comment .commenter-info .username a {
    color: rgb(220, 220, 220) !important;
}

.wrapper .body .article .comment .commenter-info .date {
    margin-left: 1rem;
}

.wrapper .body .article .comment .content {
    padding: 1rem;
}

.wrapper .body .article .create-comment textarea {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 1.5rem;
    transition: box-shadow 300ms ease-in-out;
    resize: none;
    width: 100%;
}

.wrapper[data-theme="dark"] .body .article .create-comment textarea {
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.1);
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
}

.wrapper .body .article .create-comment textarea:focus {
    outline: none;
    border: 0;
    box-shadow: 0px 0px 0px 2px rgb(219, 101, 22);
}

.wrapper .body .article .create-comment .btn {
    background-color: rgb(219, 101, 22);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
    transition: 300ms ease-in-out;   
    margin: 0.5rem 0 1rem 0;
}

.wrapper .body .article .create-comment .btn:hover {
    filter: brightness(120%);
}